@import "../../partials/variables";

#getStarted {
    align-items: center;
    border: 1.375rem solid #81e6d3;
    display: flex;
    justify-content: center;
    padding: 4rem 2rem;
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            color: #25282d;
            text-align: center;
            font-size: 32px;
            margin-bottom: 1rem;
            font-family: $josefin;
        }
        a {
            background-color: #81e6d3;
            color: #25282d;
            border: 2px solid transparent;
            display: inline-block;
            min-width: 12rem;
            padding: calc(0.875rem - 2px) 1.5rem;
            font-weight: 500;
        }
    }
}
