@import "../../partials/variables";
@import "../../partials/features";
@import "./responsive";

#styleShuffle {
  font-family: $josefin;
  padding-top: 100px;

  .right {
    display: flex;
    justify-content: center;
    .styleShuffle {
      width: 19.625rem;
      position: relative;
      .card {
        overflow: hidden;
        padding: 20px;
        align-items: center;
        background-color: #fff;
        border-radius: 0.125rem;
        box-shadow: 0 0 0.25rem rgba(37, 40, 45, 0.1),
          0 0 0.5rem rgba(37, 40, 45, 0.1);
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-start;
        position: relative;
        width: 100%;
        z-index: 3;

        .name {
          font-size: 12px;
          color: #515762;
          margin-top: 1rem;
          margin-bottom: 1rem;
          z-index: 11111;
        }

        .header {
          font-size: 17px;
          margin-bottom: 1rem;
          font-weight: 700;
          z-index: 11111;
        }
        .endOfStyleShuffle {
          display: flex;
          justify-content: center;
          flex-direction: column;
          p {
            text-align: center;
            color: #515762;
          }
          img {
            width: 180px;
            height: 180px;
            display: none;
            transition: 1s ease;
          }
          a {
            background-color: #81e6d3;
            color: #25282d;
            font-weight: bold;
            font-size: 15px;
            border: 2px solid transparent;
            display: inline-block;
            min-width: 12rem;
            padding: 0.6rem 1.5rem;
            text-align: center;
        }
        }

        .images {
          img {
            width: 230px;
            height: 230px;
            display: none;
            transition: 1s ease;
          }
          .activeStyle {
            display: inherit;
          }

          .dislike {
            transform: rotate(-30deg);
            margin-right: 1000px;
            transition: 1s ease;
          }
          .like {
            transform: rotate(30deg);
            margin-left: 1000px;
            transition: 1s ease;
          }
        }

        .image {
          img {
            width: 120px;
            height: 120px;
          }
        }

        .buttonHolder {
          z-index: 1111111;
          margin-top: 10px;
          display: flex;
          justify-content: space-around;
          button {
            display: inline-block !important;
            width: 56px;
            height: 56px;
            background-color: transparent;
            border: 2px solid #dd2e3e;
            border-radius: 50%;
            .icon {
              color: #dd2e3e;
              font-size: 25px;
            }
            &:hover {
              background-color: #fdf1f2;
            }
            &:first-child {
              margin-right: 15px;
            }
            &:last-child {
              margin-left: 15px;
            }
          }
        }
      }
      &::after,
      &::before {
        background: white;
        border-radius: 0.125rem;
        box-shadow: 0 0 0.25rem rgba(37, 40, 45, 0.2),
          0 0 0.5rem rgba(37, 40, 45, 0.2);
        content: "";
        height: 100%;
        position: absolute;
        width: 100%;
      }

      &::after {
        left: 7px;
        top: -5px;
      }
      &::before {
        left: 14px;
        top: -10px;
      }
    }
  }

  .left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
